.text-stroke {
  text-shadow: -1px 0 rgb(5, 1, 34), 0 1px rgb(5, 1, 34), 1px 0 rgb(5, 1, 34),
    0 -1px rgb(5, 1, 34);
}
@keyframes moveHeader {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(235%);
    }
  }
  
  .header {
    color:red;
    animation: moveHeader linear 10s infinite;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

/* .header {
  color: red;
  height: 50px;
  display: flex;
  font-weight: bold;
  position: relative;
  animation: mymove 5s inherit;
  animation-timing-function: linear;
}
@keyframes mymove {
    /* from {left: 0px;}
    to {right: 300px;} */
  /* } */
